<div class="card p-3 mb-3">
  <h5 class="card-title">Criar Nova Tarefa</h5>
  
  <div class="form-group mb-3">
    <label for="title" class="form-label">Título</label>
    <input type="text" id="title" [(ngModel)]="task.title" name="title" placeholder="Digite o título da tarefa" class="form-control">
  </div>

  <div class="form-check mb-3">
    <input type="checkbox" id="completed" [(ngModel)]="task.completed" name="completed" class="form-check-input">
    <label for="completed" class="form-check-label">Concluída</label>
  </div>

  <button (click)="createTask()" class="btn btn-primary">Criar Tarefa</button>
</div>
